= javascript_include_tag "registrations_edit"

%h2
  My Account

.row-fluid
  .span6
    .box#settings
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
        = f.error_notification
        = display_base_errors resource
        = f.input :name, :autofocus => true
        = f.input :email, :required => true
        = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
        = f.input :password_confirmation, :required => false
        = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
        = f.button :submit, 'Update', :class => 'btn-primary'

  .span6
    .box#gmail_accounts_container
      %table.table.table-striped.table-bordered#gmail_accounts_table{"data-url" => gmail_accounts_path}
        %thead
          %tr
            %th
              Email
            %th
              Active
            %th
            %th
        %tbody
      = loader_tag "gmail_accounts_loading"

      %h6 Add Gmail Account
      = simple_form_for :gmail_account, :url => gmail_accounts_path ,:method => :post ,:remote => :true, :html => { :id => "new_gmail_account_form" } do |f|
        = f.input_field "email" , :placeholder => "Gmail Address", :as => :string , :label => false
        = f.submit "Create" , :id => "create_gmail_account_btn"
        = loader_tag "create_gmail_account_loading"

.row-fluid
  .box#rules_container
    %table.table.table-striped.table-bordered#email_filters_table{"data-url" => email_filters_path}
      %thead
        %tr
          %th
            Name
          %th
            Active
          %th
      %tbody
    = loader_tag "email_filters_loading"